dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

tr[data-meal-excess="false"] {
    color: green;
}

tr[data-meal-excess="true"] {
    color: red;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}

.edit-button-link {
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    color: #f1f1f1;
    background-color: #006222;
    text-decoration: none;
    border-radius: 5px;
}

.edit-button-link:hover {
    background-color: #028f33;
    color: black
}

.delete-button-link {
    display: inline-block;
    padding: 3px 5px;
    font-size: 12px;
    color: #f1f1f1;
    background-color: #620000;
    text-decoration: none;
    border-radius: 5px;
}

.delete-button-link:hover {
    background-color: #a30202;
    color: black
}
